.*
*~
!.gitignore
!.perltidyrc
blib
pm_to_blib
Makefile*
!Makefile.PL
MANIFEST*
!MANIFEST.SKIP
*META.*
log/*
cover_db
META.yml
MYMETA.yml
MYMETA.json
Makefile
blib
inc
pm_to_blib
MANIFEST
Makefile.old
nytprof.out
MANIFEST.bak
*.sw[po]
